extends layout

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					a(class="first", href="/") #{seccion}
	#general
		#menus
			div(id="enlaces_secciones", class="mod-menu_secciones")
				ul
					li(class="selected tipo2-selected item-first_level")
						a(href="index.html") Presentación
					li(class="tipo2 item-first_level")
						a(href="personal.html") Personal
					li(class="tipo2 item-first_level")
						a(href="contacto.html") Localización y Contacto
					li(class="tipo2 item-first_level")
						a(href="pruebas.html") Página de muestras

			div(id="frecuentes", class="mod-menu_secciones menu_frecuentes", style="display: none;")
				ul
					li(class="adicional1 item-first_level")
						a(href="#") Elemento 1er nivel
						ul
							li(class="tipo1 item-second_level")
								a(href="#") Elemento 2º nivel

		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku
					p
						| <img width="200" alt="mapa_bbm3i" title="mapa_bbm3i" class="medialeft" src="imagenes/mapa.jpeg" />
						| <a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.

					p
						| <img width="200" alt="mapa_bbm3i" title="mapa_bbm3i" class="mediaright" src="imagenes/mapa.jpeg" />
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.

					p
						| <img width="200" alt="mapa_bbm3i" title="mapa_bbm3i" class="mediacenter" src="imagenes/mapa.jpeg" />
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.